@model IEnumerable<Wyklad10Test.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArticleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                Photo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImagePath))
                    {
                        <img src="~/@Url.Content(item.ImagePath)" width="100" height="100" alt="Image" />
                    }
                    else
                    {
                        <img src="~/image/default.png" width="100" height="100" alt="defaultImage" />
                    }
                </td>
                <td>
                    <div style="display: flex; align-items: center;">
                        <div>
                            <a asp-action="Edit" asp-route-id="@item.ArticleId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ArticleId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ArticleId">Delete</a>
                        </div>
                        <form asp-action="AddToCart" asp-route-id="@item.ArticleId" method="post" style="margin-left: 10px;">
                            <input type="image" src="~/image/cart.png" width="50" height="50" alt="Add to cart" />
                        </form>
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
