@model IEnumerable<Wyklad10Test.Models.Article>

@{
    ViewData["Title"] = "Articles in Category";
}

<h1>Articles</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArticleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                Photo
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImagePath))
                    {
                        <img src="~/@Url.Content(item.ImagePath)" width="100" height="100" alt="Image" />
                    }
                    else
                    {
                        <img src="~/image/default.png" width="100" height="100" alt="defaultImage" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
